<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM system</title>
	<link href='/css/bootstrap.min.css' rel='stylesheet' />
</head>
<body>
<div class='container'>
	<div class='page-header'>
		<h3><%= title %></h3>
	</div>
	<img src='img/avatar_small.png' alt='' onClick="window.location.href = '/customers';">
